@inherits LayoutComponentBase

<BlazoredModal />
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="Main" style="background-color: white">
    @*<div class="sidebar">
        <NavMenu />
        
    </div>*@

        @*<div class="top-row px-4 auth">
            <LoginDisplay />

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <div><NavBar /></div>

        <div class="content px-4">
            @Body
        </div>
</div>

